* {
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #800080;
  background-image: url('hex-bg-tile.png');
}

#main {
  min-height: 100%;
  margin-left: 193.98969044771425px;
  border-right: 16px solid #000;
  background-color: #808000;
  background-repeat: repeat-y;
  background-image: url('hex-fg-tile.png');
}

#logo {
  top: 64px;
  left: 277.12812921102034px;
  position: absolute;
}

#content {
  max-width: 665.1075101064489px;
  padding-top: 64px;
  padding-right: 32px;
  padding-left: 166.27687752661222px;
}

#content h1 {
  margin-bottom: 32px;
  font-size: 64px;
}

#content p {
  line-height: 1.5;
  font-size: 24px;
}

#content a {
  text-decoration: none;
  border-bottom: 2px solid #800080;
  color: #000000;
}

#content a:hover, #content a:focus {
  border-bottom: 2px solid #000;
  background: #ffffff;
}