* {
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: #800080;
  background-image: url('hex-bg-tile.png');
}

#main {
  min-height: 100%;
  margin-left: 137.56406460551017px;
  border-right: 27.712812921102035px solid #000;
  background-color: #808000;
  background-repeat: repeat-y;
  background-image: url('hex-fg-tile.png');
}

#logo {
  top: 64px;
  left: 221.70250336881628px;
  position: absolute;
}

#content {
  max-width: 665.1075101064489px;
  padding-right: 32px;
  padding-left: 193.98969044771425px;
}

#content h1 {
  margin-bottom: 32px;
  font-size: 64px;
}

#content p {
  line-height: 1.5;
  font-size: 24px;
}

#content p a {
  text-decoration: none;
  border-bottom: 2px solid #800080;
  color: #000000;
}

#content p a:hover, #content p a:focus {
  border-bottom: 2px solid #000;
  background: #ffffff;
}

#nav {
  background: #000000;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 32px;
  display: block;
  overflow: hidden;
}

#nav li {
  float: left;
  list-style: none;
}

#nav li a {
  color: #ffffff;
  padding-bottom: 4px;
  padding-top: 4px;
  display: block;
  float: left;
  width: 166.27687752661222px;
  text-decoration: none;
  text-align: center;
}

#nav li a:hover {
  color: #000000;
  background: #ffffff;
}